.form {
  width: 600px;
}

.error {
  color: red;
  font-weight: bold;
}

.error-block {
  height: 50px;
  padding-bottom: 70px;
}

.addSchool {
  display: block;
  width: 700px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 400px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.submit {
  margin-top: 30px;
}
